html,
body {
  min-height: 100%;
}
.mapJobMarker {
  line-height: 14px;
  padding: 6px;
  border-radius: 100px;
  background-color: lightgreen;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.markerPic {
  line-height: 14px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 2px solid rgb(28, 110, 164);
}
.mapEventMarker {
  line-height: 14px;
  padding: 6px;
  border-radius: 100px;
  background-color: blue;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.popupUserPic {
  border-radius: 100%;
  height: 65px;
  width: 65px;
  object-fit: cover;
}
.popupPetPlantPic {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
}
.popupEventProfilePic {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
}
.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.map-container {
  width: 100vw;
  height: 100vh;
}
.step-instructions {
  font-size: 11px;
  position: absolute;
  margin: 3px;
  width: 38%;
  height: 30vh;
  top: 0;
  bottom: 20%;
  padding: 10px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}
#dark .step-instructions {
  font-size: 11px;
  position: absolute;
  margin: 3px;
  width: 38%;
  height: 30vh;
  top: 0;
  bottom: 20%;
  padding: 10px;
  background-color: #2e2e2e;
  color: lightgray;
  overflow-y: scroll;
  font-family: sans-serif;
}
#dark .step-instructions-card {
  font-size: 11px;
  top: 0;
  bottom: 20%;
  padding: 10px;
  background-color: #2e2e2e;
  color: lightgray;
  font-family: sans-serif;
}

body {
  padding-bottom: 60px;
}
.button-as-link {
  background-color: transparent;
  border: none;
  color: #2e67d1;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
.reviewAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.testDiv {
  border: solid 5px red;
}
.navBars {
  color: Black;
}
#dark {
  background-color: #1f1b24;
  height: 100vh;
  color: lightgray;
}
#dark .popup-inner {
  background-color: #1f1b24;
  color: lightgray;
}
#dark .topNavBar {
  background-color: #1f1b24;
  color: lightgray;
}
#dark .container-fluid {
  background-color: #1f1b24;
  color: lightgray;
}
#dark .col {
  background-color: #1f1b24;
  color: lightgray;
}
#dark .react-calendar__month-view__days {
  background-color: #1f1b24;
  color: lightgray;
}
#dark .bootstrap-card {
  background-color: #2e2e2e;
  color: lightgrey;
  border-color: lightgrey;
}
#dark .bootstrap-button {
  background-color: #1f1f1f;
  color: lightgrey;
  border-color: lightgrey;
}
#dark .react-calendar {
  background-color: #1f1b24;
  color: lightgrey;
  border-color: lightgrey;
}
#dark .popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: darkgray;
  color: lightgrey;
  border-color: lightgrey;
}

/* .chat-main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  position: relative;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message{
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
  background-color: limegreen;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}
.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
} */
