html,
body {
  min-height: 100%;
}
.mapMarker {
  line-height: 14px;
  padding: 6px;
  border-radius: 100px;
  background-color: lightgreen;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

