.card {
  /* background-color: #558564;
  color: #C2F8CB; */
  background-color: #f8f8ff;
  color: black;
}

input {
  background-color: #d8f3e1;
  /* color: #C2F8CB; */
}

.event-more-info-btn {
  color: rgb(2, 2, 2);
}

/* Add Comment */
.comment-form {
 width: 100%;
}

.events-img {
  margin-top: 70px;
}
/* Comments */
h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 30px;
}

.main-text  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  margin-top: 100px;
  margin-bottom: 20px;
}

.events-page-descriptor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  margin-top: 30px;
  margin-bottom: 30px; 

}

.events-create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 6vh;
  margin-top: 40px;
  margin-bottom: 30px;
}

.comment-img {
  width: 50px;
  margin-right: 0px; 
}

.comment-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 3px;
}

.comment-container {
  border: #cfcfcf solid 1px;
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #d8f3e1;
}

.comment-footer small {
  display: inline-block; 
  margin-bottom: 10px; 
  /* color: black; */
}

.comment-time {
  text-align: left;
  width: 60%;
  margin-left: 5px;
}

.modify-comment {
  text-align: right;
  width: 25%;
}
