/* div { 
  border: 1px solid #f10707;
}  */

/* .events-list {
  border: 1px solid #1707f1;
  
} */

/*
.fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: blue;
}
.wrapper {
  overflow: auto;
  height: 100%;
  width: 100%
}  */

h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
}

.main-text  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
}
.events-create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 6vh;
}